<section class="hero-carousel">
    <div class="carousel-slider">
      <div class="carousel-track">
        <div class="carousel-item">
          <picture>
            <source media="(max-width: 768px)" srcset="/images/carrousel/1-mobile.png">
            <img src="/images/carrousel/1.png" alt="Imagen carrusel 1">
          </picture>
        </div>
        <div class="carousel-item">
          <picture>
            <source media="(max-width: 768px)" srcset="/images/carrousel/2-mobile.png">
            <img src="/images/carrousel/2.png" alt="Imagen carrusel 1">
          </picture>
        </div>
        <div class="carousel-item">
          <picture>
            <source media="(max-width: 768px)" srcset="/images/carrousel/3-mobile.png">
            <img src="/images/carrousel/3.png" alt="Imagen carrusel 1">
          </picture>
        </div>
      </div>

      <button class="carousel-btn prev">&#10094;</button>
      <button class="carousel-btn next">&#10095;</button>

      <div class="carousel-indicators">
        <span class="dot active" data-index="0"></span>
        <span class="dot" data-index="1"></span>
        <span class="dot" data-index="2"></span>
      </div>
    </div>
  </section>