<nav class="navbar">
    <div class="navbar-logo">
      <img src="/images/logo/favicon.png" alt="Logo">
      <span><a href="/">Costumbres Argentinas</a></span>
    </div>
    <ul class="navbar-menu">
      <li><a href="/">HOME</a></li>
      <li><a href="/aboutUs">SOBRE NOSOTROS</a></li>
      <li><a href="/contact">CONTACTO</a></li>
      <li><a href="/faq">FAQ</a></li>
    </ul>
    <div class="navbar-toggle" id="navbar-toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>